<ion-content class="ion-padding">
  <div class="login-container">
    <div class="login-header">
      <img src="assets/invictus-logo4.png" alt="Invictus Logo" class="logo">
      <h2 class="brand-title">Personalised Training</h2>
    </div>
    <div class="login-body">
      <form class="login-form" (ngSubmit)="adminLogin()">
        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Username" [(ngModel)]="adminUsername" name="adminUsername">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="adminPassword" name="adminPassword">
        </div>
        <button type="submit" class="btn admin-btn">Admin</button>
      </form>
      <button (click)="auth.loginWithRedirect()" class="btn btn-secondary btn-block user-btn">User</button>
    </div>
  </div>
</ion-content>