<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> INVICTUS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="calendar-card">
    <ion-card-header>
      <div class="week-number">
        Week {{ currentWeek }}
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="week-days">
        <!-- Use class binding to apply 'workout-day' based on condition -->
        <div *ngFor="let day of weekDays" class="day" [class.workout-day]="workoutDays.has(day)">
          {{ day }}
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="timer-container">
    <div class="timer-display">Workout Time: {{ displayTime }}</div>
    <button class="start-stop-button" [class.stop]="isWorkoutStarted" (click)="toggleWorkout()">
      {{ isWorkoutStarted ? 'Stop Workout' : 'Start Workout' }}
    </button>
  </div>

  <ng-container *ngIf="todaysWorkout$ | async as todaysWorkout; else loadingTemplate">
    <div *ngIf="todaysWorkout && !todaysWorkout.completed; else workoutCompleteTemplate">
      <div class="workout-container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Day {{ ((currentDayIndex$ | async)?.valueOf() ?? 0) + 1 }} Workout</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <li *ngFor="let exercise of todaysWorkout.Exercises; let i = index" (click)="toggleExerciseCompletion(i)">
                {{ exercise.Title }} - {{ exercise.Equipment }}
                <ion-icon name="checkmark-circle" *ngIf="exercise.isCompleted"></ion-icon>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <ng-template #workoutCompleteTemplate>
      <div class="workout-container">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Congratulations! You've completed today's workout.</ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </ng-template>
  </ng-container>

  <ng-template #loadingTemplate>
    <p>Loading workout plan...</p>
  </ng-template>

  <ng-template #noWorkoutTemplate>
    <div class="error-message">
      <p>No workout for today or error fetching workout plan. Please try again later.</p>
    </div>
  </ng-template>


  <!-- Overall Workout Time Section in a card -->
  <ion-card class="overall-workout-time-card">
    <ion-card-header>
      <ion-card-title>Overall Workout Time This Week</ion-card-title>
    </ion-card-header>
    <ion-card-content class="overall-time-content">
      <div class="overall-timer-display">
        {{ formatTime(overallWorkoutTime) }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>