<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center"> INVICTUS </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="calendar-card">
    <ion-card-header>
      <div class="week-number">
        Week {{ currentWeek }}
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="week-days">
        <div *ngFor="let day of weekDays" class="day" [class.workout-day]="workoutDays.has(day)">
          {{ day }}
        </div>
      </div>
    </ion-card-content>
  </ion-card>

<div class="timer-container">
  <div class="timer-display">Workout Time: {{ displayTime }}</div>
  <button class="start-stop-button" [class.stop]="isWorkoutStarted" (click)="toggleWorkout()">
    {{ isWorkoutStarted ? 'Stop Workout' : 'Start Workout' }}
  </button>
</div>

<!-- Sample Workout Section -->
<div class="sample-workout" *ngIf="sampleWorkout">
 
  <ion-card class="workout-card">
    <ion-card-header>
      {{ sampleWorkout.name }}
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li *ngFor="let exercise of sampleWorkout.exercises">
          {{ exercise.name }} - {{ exercise.sets }} sets of {{ exercise.repetitions }} reps
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</div>

<div *ngIf="todaysWorkout$ | async as todaysWorkout">
  <ion-card class="workout-card">
    <ion-card-header>
      Day {{ currentDayIndex$ | async }} Workout
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li *ngFor="let exercise of todaysWorkout.Exercises; let i = index" (click)="toggleExerciseCompletion(i)">
          {{ exercise.Title }} - {{ exercise.Sets }} sets of {{ exercise.Repetitions }} reps
          <ion-icon name="checkmark-done" *ngIf="exercise.isCompleted"></ion-icon>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</div>

 <!-- Overall Workout Time Section -->
 <div class="overall-workout-time">
  <h2>Overall Workout Time This Week</h2>
  <div class="time-display">
    {{ formatTime(overallWorkoutTime) }}
  </div>
</div>
</ion-content>

