<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Your admin page content goes here -->
  <div *ngIf="increaseIntensity !== undefined">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Prediction Result</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          The predicted intensity decision is: 
          <span *ngIf="increaseIntensity; else decreaseIntensity">Increase intensity</span>
          <ng-template #decreaseIntensity>Do not increase intensity</ng-template>
          <br>
          {{ increaseIntensity ? "Increase intensity for individuals aged 17-24, Male, Gaining Muscle, Beginner, with Workout Days 3." : "Do not increase intensity." }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
  <div>
    <canvas #chartCanvas></canvas>
  </div>
</ion-card>
<ion-card>
  <div>
    <canvas #averageChartCanvas></canvas>
  </div>
</ion-card>
</ion-content>