<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Your admin page content goes here -->
  <ion-card>
  <div>
    <canvas #chartCanvas></canvas>
  </div>
</ion-card>
<ion-card>
  <div>
    <canvas #averageChartCanvas></canvas>
  </div>
</ion-card>
</ion-content>