.profile-header {
    display: flex;
    align-items: center;
    padding: 15px;
  }

  .profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Optional shadow for depth
  }
  
  .profile-picture {
    --border-radius: 50%;
    margin: 0 auto; // Centers the avatar if the column is auto-sized
  }  
  
  .profile-details {
    flex: 1;
    h2 {
      margin-bottom: 5px;
    }
  }

  ion-card-content {
    h2 {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 0.5em;
    }
  
    p {
      font-size: 1em;
      color: #666; // A softer color for the email text
    }
  }

  .workout-plan {
    ion-card-title {
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }
  
    ion-item-divider {
      --background: #ddd; // Use a distinct background for day dividers
      --padding-start: 10px; // Adjust padding as needed
    }
  
    ion-label {
      font-size: 1rem;
    }
  }
  