ion-content {
  --background: #f2f2f7;
}

ion-header {
  --background: #ffffff;
}

ion-toolbar {
  --min-height: 50px;
}

ion-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.profile-card {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.profile-details {
  text-align: center;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px 0;
}

p {
  font-size: 1em;
  color: #666;
}

.workout-plan{
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



ion-card-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

ion-item-divider {
  background-color: #ddd;
}

ion-label {
  font-size: 1em;
}



/* Add some padding for ion-items in the form */
ion-item {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 8px;
  --padding-bottom: 8px;
}

/* Styles for the save profile button */
ion-button {
  margin-top: 15px;
  --background: #4CAF50;
  --background-activated: #43A047;
  --background-hover: #43A047;
  --background-focused: #43A047;
  --border-radius: 20px;
  --height: 50px;
  font-size: 1em;
  color: white;
}

canvas {
  width: 300px !important;
  height: 300px !important; // Adjust as necessary to fit your design
}

.nutrition-plan{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.nutrition-card{
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.card-title {
  padding-top: 15px; /* Adjust the value as needed for your design */
  display: block; /* Ensures it takes up the full width */
  
}



/* Remove the border of the ion-item when it is focused */
ion-item::part(native) {
  border: none;
}


