<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header">
    <ion-avatar class="profile-picture">
      <img [src]="userProfile.picture" alt="Profile Picture">
    </ion-avatar>
    <div class="profile-details">
      <h2>{{ userProfile.name }}</h2>
      <div class="calendar-container">
        <!-- Inline calendar HTML or shared component -->
        <!-- Make sure to bind the required data and methods -->
      </div>
    </div>
  </div>
</ion-content>
